<div class="news-summary">
	<div class="news-body">
	{% if self.show_shakebox %}
		<div class="news-shakeit">
		    <div class="{{ box_class }}">
		        <a id="a-votes-{{ self.id}}" href="{{ self.rpermalink }}">
                {{ self.total_votes }}
                </a>
                {% trans _('meneos') %}
		    </div>
            {% if not globals.bot %}

			<div class="menealo" id="a-va-{{ self.id }}">
            {% if not self.votes_enabled %}
                <span>{% trans _('cerrado') %}</span>
            {% else %}
                {% if not self.voted %}
				    <a href="javascript:menealo({{ current_user.user_id}}, {{self.id}})" id="a-shake-{{ self.id }}">{% trans _('menéalo') %}</a>
                {% else %}
                    {% if self.voted > 0 %}
				    <span id="a-shake-{{ self.id }}">{% trans _('¡chachi!') %}</span>
                    {% else %}
				    <span id="a-shake-{{ self.id }}" class="negative">{% exec get_negative_vote self.vote %}</span>
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>

            {% endif %}
		</div>
	{% endif %}

    {% if self.status == 'abuso' OR self.has_warning %}
        {% include "link_print_warn.html" %}
    {% endif %}
    {% if globals.ads %}<!-- google_ad_section_start -->{% endif %}

    <h1>
        <a href="{{ self.url }}"{% if self.status != 'published' %} rel="nofollow"{% endif %}>{{ self.title }}</a>
        {% if self.content_type == 'image' %}
		    &nbsp;<img src="{% get_static_url 'img/common/is-photo01.png' %}" class="media-icon" width="18" height="15" alt="{% trans _('imagen') %}" title="{% trans _('imagen') %}" />
        {% endif %}
        {% if self.content_type == 'video' %}
		    &nbsp;<img src="{% get_static_url 'img/common/is-photo01.png' %}" class="media-icon" width="18" height="15" alt="{% trans _('imagen') %}" title="{% trans _('imagen') %}" />
			&nbsp;<img src="{% get_static_url 'img/common/is-video01.png'  %}" class="media-icon" width="18" height="15" alt="{% trans _('vídeo') %}" title="{% trans _('vídeo') %}" />
        {% endif %}
    </h1>
	
    <div class="news-submitted">
        {% if type != 'short' %}
			<a href="{% exec get_user_uri self.username %}"><img src="{% exec get_avatar_url self.author, self.avatar, 25 %}" width="25" height="25" alt="" onmouseover="return tooltip.ajax_delayed(event, 'get_user_info.php', {{ self.author }})" onmouseout="tooltip.clear(event);" /></a>
        {% endif %} 
        <strong>{{ self.url_str }}</strong>&nbsp;<br />

        {% trans _("por %s") self.username_str %}
        {% if self.print_date %}
            {% trans _('el') %} {% exec get_date_time self.sent_date %}
            {% if self.status == 'published' %}
                , {% trans _('publicado el') %} {% exec txt_time_diff self.date %}
            {% endif %}
        {% else %}
            {% trans _('hace') %} {% exec txt_time_diff self.sent_date %}
            {% if self.status == 'published' %}
                , {% trans _('publicado hace') %} {% exec txt_time_diff self.date %}
            {% endif %}
        {% endif %}
    </div>

    {% if type == 'full' || type == 'preview' %}
        {% if self.thumb_url %}
			<img src='{{ self.thumb_url }}' width='{{ self.thumb_x }}' height='{{ self.thumb_y }}' alt='' class='thumbnail'/>
        {% endif %}
        <p>
            {{ self.content_txt }}
            {% if (globals.link && type != 'preview' ) %}
                {% if self.is_editable %}
					&nbsp;&nbsp;<a href="{% get_url 'editlink.php?id=' self.id '&amp;user=' current_user.user_id %}" title="{% trans _('editar noticia') %} #{{ self.id }}"><img class="mini-icon-text" src="[% get_static_url 'img/common/edit-misc01.png' %}" alt="edit" width="18" height="12"/></a>
                {% endif %}

                {% if self.geo && self.is_map_editable %}
					&nbsp;&nbsp;<a href="#" onclick="$('#geoedit').load('{% get_url  "geo/get_form.php?id=" self.id  "&amp;type=link&amp;icon=" self.status %}'); return false;">
                        <img class="mini-icon-text" src="{% get_static_url 'img/common/edit-geo01.png' %}" alt="edit" title="{% trans _('editar geolocalización') %}"/></a>
                {% endif %}
            {% endif %}
        </p>
    {% endif %}

    {% if self.best_comment %}
        <div class="box" style="font-size: 80%; border: 1px solid; border-color: #dadada; background: #fafafa; margin: 7px 50px 7px 25px; padding: 4px; overflow:hidden">
		    <a onmouseout="tooltip.clear(event);"  onclick="tooltip.clear(this);" onmouseover="return tooltip.ajax_delayed(event, 'get_comment_tooltip.php', '{{ self.best_comment->comment_id }}', 10000);" href="{{ self.permalink }}/000{{ self.best_comment->comment_order }}">
            <strong>{{ self.best_comment->comment_order }}</strong>
        </a>:&nbsp;{% exec text_to_summary self.best_comment->content 200 %}
        </div>
    {% endif %}
	
    {% if  self.do_inline_friend_votes %}
        {% exec self.inline_friend_votes %}
    {% endif %}


	<div class="news-details main">
		<span class="comments-counter">&nbsp;
        <a href="{% exec self.get_relative_permalink %}">
        {% if self.comments > 0 %}
            {% trans _("%d comentarios") self.comments %}
        {% else %}
            {% trans _("sin comentarios") %}
        {% endif %}
        </a></span>

        {% if current_user.user_id > 0 %}
			<span class="tool">
                <a id="fav-{{ self.id }}" href="javascript:get_votes('get_favorite.php','{{ current_user.user_id }}', 'fav-{{ self.id }}',0,'{{self.id }}')">
                {% exec favorite_teaser current_user.user_id self %}
                </a>
            </span>
        {% endif %}


		<span class="tool">{% trans _('en') %}:
		<a href="{% get_url '?meta=' self.meta_uri %}" title="{% trans _('meta') %}">
            {{ self.meta_name}}</a>,
		<a href="{% get_url '?meta=' self.meta_uri '&amp;category=' self.category %}" title="{% trans _('categoría') %}">
            {{self.category_name}}</a>
		</span>
		<span class="tool">karma: <span id="a-karma-{{self.id}}">
            {% exec intval self.karma %}
        </span></span>

        {% if self.can_vote_negative %}
            {% global anon_karma site_key %}
            negative 
        {% endif %}

    </div>

    {% if globals.ads %}<!-- google_ad_section_end -->{% endif %}

	</div>
</div>
